body{
    background-color: rgb(152, 238, 144);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.cell {
    box-sizing: border-box;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.wall {
    background-image: url("grass.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.seed-packet {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.storage {
    background-image: url("dirt.png");
}

#corn-man {
    position: absolute;
    width: 25px;
    height: 35px;
}
